body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #28231D;
    color: #999;
}

header, footer, section {
    padding: 20px;

}

header {
    background-color: gray;
    
    color: white;

    display: flex;
    justify-content: space-between;
    
}

nav {
    margin-left: auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 40px;
    margin-right: 20px;
    

     }

nav ul li:first-child {
    margin-left: 0;
}

#about {
    text-align: center;
}

#about img {
    width: 200px;
    border-radius: 50%;
}

#skills ul {
    list-style-type: none;
    padding: 0;
}

#skills li {
  
    margin-right: 20px;
    color: white;
   padding: 20px;
}

.skill-pair {
    display: flex;
    align-items: center;

}

.skill-box {
    flex: 1;
    padding: 20px 5px;
    border: 1px solid #333;
    border-radius: 5px; 
    background-color: gray;

}

.arrow {
    margin: 0 10px; 
    color: #333; 
    font-size: 20px;
}

#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project {
    width: 300px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.project img {
    width: 100%;
    border-radius: 5px;
    transition: transform 0.3s ease;
}
.project img:hover {
    transform: scale(2.4);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


#resume {
    background-color: #000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
}

#resume h2 {
    color: #999;
}

#resume p {
    color: #666;
}

#resume a {
    color: #007bff;
    text-decoration: none;
}

#resume a:hover {
    text-decoration: underline;
}

#resume p:first-child {
    margin-bottom: 10px;
    font-size: 16px;
}




footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
}
